<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="customplugin.PerspectiveFactory"
            id="CustomPlugin.perspective"
            name="Custom Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="CustomPlugin.perspective">
         <view
               id="org.eclipse.jdt.ui.PackageExplorer"
               minimized="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.eclipse.ui.views.ContentOutline"
               minimized="false"
               ratio="0.5"
               relationship="bottom"
               relative="org.eclipse.jdt.ui.PackageExplorer"
               visible="true">
         </view>
         <view
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               ratio="0.5"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="org.eclipse.ui.views.ProblemView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="CustomPlugin.views.category"
            name="custom plugin views">
      </category>
      <view
            category="CustomPlugin.views.category"
            class="customplugin.views.ExampleView1"
            id="CustomPlugin.views.ExampleView1"
            name="example view1"
            restorable="true">
      </view>
      <view
            category="CustomPlugin.views.category"
            class="customplugin.views.ProjectExplorer"
            id="CustomPlugin.views.ProjectExplorer"
            name="Project Explorer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="customplugin.handlers.SayHello"
            id="CustomPlugin.commands.Hello"
            name="Hello">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:CustomPlugin.views.ExampleView1">
         <command
               commandId="CustomPlugin.commands.Hello"
               label="Hello Menu 1st"
               style="push">
         </command>
         <menu
               label="Hello Menu 2nd">
            <command
                  commandId="CustomPlugin.commands.Hello"
                  label="Hello Menu 2nd&apos;s Child Menu"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:CustomPlugin.views.ExampleView1">
         <command
               commandId="CustomPlugin.commands.Hello"
               icon="icons/sample.gif"
               label="Hello Toolbar 1st"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="CustomPlugin.views.ProjectExplorer">
      </viewer>
      <viewerContentBinding
            viewerId="CustomPlugin.views.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern=" org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="CustomPlugin.filters.NavigatorFilter">
            </contentExtension>
            <contentExtension
                  pattern="CustomPlugin.views.navigator.NavigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="CustomPlugin.views.ProjectExplorer">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension></includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            activeByDefault="true"
            class="customplugin.filters.NavigatorFilter"
            id="CustomPlugin.filters.NavigatorFilter"
            name="NavigatorFilter">
      </commonFilter>
      <navigatorContent
            activeByDefault="true"
            contentProvider="customplugin.views.navigator.NavigatorContentProvider"
            id="CustomPlugin.views.navigator.NavigatorContent"
            labelProvider="customplugin.views.navigator.NavigatorLabelProvider"
            name="Navigator Content"
            priority="normal">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
               <and>
                  <instanceof
                        value="customplugin.views.navigator.data.PropertiesTreeData">
                  </instanceof>
               </and>
               <and>
                  <instanceof
                        value="customplugin.views.navigator.data.PropertiesTreeRootData">
                  </instanceof>
               </and>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="customplugin.views.navigator.data.*">
               </instanceof>
            </or>
         </possibleChildren>
      </navigatorContent>
   </extension>


</plugin>
